.navigation {
  display: flex;
  width: auto;
  flex-flow: row;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.navIcon {
  padding: 1rem;
}
